.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 5px rgb(241, 241, 241);
  padding: 0 20px;
}

.navbar-menu-container {
  display: flex;
  align-items: center;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 75px;
  margin-right: 20px;
}

.navbar-link {
  margin-right: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.navbar-avatar {
  background-color: #1890ff;
  cursor: pointer;
}
